<div class="animated contener bounceInDown">
    <div class="card col-md-10 offset-md-1">
        <div class="card-header">
            <h2>Add a verb to a table</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="service.formModel" class="mb-4" autocomplete='off' (submit)="onSubmit()">
                <div class="row">
                    <div class="col">
                        <div class="form-group required">
                            <label>Verb in Spanish:</label>
                            <input class="form-control" formControlName="Name">
                        </div>
                    </div>
                    <div class="col">
                        <label>Translation:</label>
                        <input class="form-control" formControlName="Translation">
                    </div>
                </div>
                <div class="row">
                    <h6>Indicativo Presente:</h6>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Yo:</label>
                        <input class="form-control" formControlName="IndicativoPresenteP1">
                    </div>
                    <div class="col">
                        <label>Tú:</label>
                        <input class="form-control" formControlName="IndicativoPresenteP2">
                    </div>
                    <div class="col">
                        <label>él, ella, usted:</label>
                        <input class="form-control" formControlName="IndicativoPresenteP3">
                    </div>
                    <div class="col">
                        <label>nosotros/as:</label>
                        <input class="form-control" formControlName="IndicativoPresenteM1">
                    </div>
                    <div class="col">
                        <label>vosotros/as:</label>
                        <input class="form-control" formControlName="IndicativoPresenteM2">
                    </div>
                    <div class="col">
                        <label>ellos,ellas, ustedes:</label>
                        <input class="form-control" formControlName="IndicativoPresenteM3">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 offset-md-2">
                        <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>